/* Custom styles for the modal */
.rating-modal .modal-content {
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    border: none;
}

.rating-modal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.rating-modal .modal-header .btn-close {
    color: #fff;
}

.rating-modal .star-icon {
    font-size: 3rem;
    color: #ffc107; /* Gold color */
    margin-top: -20px;
}

.rating-modal .modal-body h6 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.rating-modal .rating-stars i {
    font-size: 2rem;
    color: #ccc; /* Gray color for unselected stars */
    cursor: pointer;
    transition: color 0.3s;
}

.rating-modal .rating-stars i.selected, .rating-modal .rating-stars i:hover {
    color: #ffc107; /* Gold color for selected stars */
}

.rating-modal .modal-footer {
    border-top: none;
    padding-top: 0;
}

.rating-modal .btn-rate {
    background-color: #5a9bf6; /* Light blue */
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rating-modal .btn-rate:hover {
    background-color: #4b89dc;
    color: #fff;
}

/* Style for rating display text */
#selectedRatingDisplay {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffc107; /* Altın sarısı renk */
}
